		<div></div>
		</div>	

		<div class="footer__wrapper">6</div>


		<div id="popup" class="popup">
		<a href="#" class="popup__area"></a>
		<div class="popup__body">
				<form action="{% url 'login' %}" class="popup__form" method="POST">
					{% csrf_token %}
					<div class="auth__title">Вход на сайт</div>
					<div class="auth__login__label">Имя пользователя</div>
					<input name="username" type="text" class="auth__login__field">
					<div class="auth__pass__label">Пароль</div>
					<input name="password" type="text" class="auth__pass__field">
					<input type="submit" class="button__submit">
					<div class="added__menu">Забыл пароль?</div>
				</form>
			</div>
		</div>
	</div>	
	</div>
</body>
</html>
