<!DOCTYPE html>
<html lang="en">
<head>
	{% load static from static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>Document</title>
</head>
<body>
	<div class="wrapper">
		<div class="session___control">
			<div class="fill__left"></div>
			<div class="auth__part">
				{% if user.is_authenticated %}
				<div class="site__name__label">SoftLink</div>
				<div class="status__auth">{{ user }}</div>
				<div class="income__auth"><a href="{% url 'unlog' %}">Выход?</a></div>
				<div class="registration__menu">
					<div class="button__registraton"><a class="notst__link__green" href="#">Кабинет</a></div>
				</div>
				{% else %}
				<div class="site__name__label">SoftLink</div>
				<div class="status__auth">{{ user }}</div>
				<div class="income__auth"><a href="#popup">Вход?</a></div>
				<div class="registration__menu">
					<div class="button__registraton"><a class="notst__link__green" href="{% url 'registration' %}">Регистрация</a></div>
				</div>
				{% endif %}
			</div>
			<div class="fill__right"></div>
		</div>

		<div class="picture__in__up"></div>


		<div class="menu__wrapper">
			<div class="empty__menu"></div>
			<ul class="list__menu">
				<li class="news__menu"><a href="{% url 'index_main' %}" class="text__menu">Новости</a></li>
				<li class="hardware__menu"><a href="#" class="text__menu">Железо</a>
						<div class="list__menu__hardware">
						<ul class="sub-list__menu__hardware">
							<li class="item__hardware"><a href="{% url 'hdd' %}">Жесткий диск</a></li>
							<li class="item__hardware"><a href="{% url 'cpu' %}">Процессоры</a></li>
							<li class="item__hardware"><a href="{% url 'mother' %}">Материнская плата</a></li>
							<li class="item__hardware">lorem</li>
							<li class="item__hardware">lorem</li>
							<li class="item__hardware">lorem</li>
							<li class="item__hardware">lorem</li>
							<li class="item__hardware">lorem</li>
							<li class="item__hardware">lorem</li>
							<li class="item__hardware">lorem</li>
							<li class="item__hardware">lorem</li>
							<li class="item__hardware">lorem</li>
						</ul>
						</div>
				</li>	
				<li class="notebook__menu text__menu">Ноутбуки&otimes;</li>
				<li class="prog__menu text__menu">Программа&otimes;</li>
			</ul>
			<div class="empty__menu"></div>
		</div>

		<div class="content__wrapper">
			<div></div>