{% include 'part/header.html' %}

<form action="#" method="POST" class="reg__wrapper">
	<div class="empty"></div>
	<div class="reg__wrapper__center">
		<div class="register__label">Регистрация</div>
		<div class="reg__label__user">Логин</div>
		<input type="text" class="reg__field__user">
		<div class="reg__label__pass">Пароль</div>
		<input type="text" class="reg__field__pass">
		<div class="confirm__label__pass">Подтвердите пароль</div>
		<input type="text" class="confirm__field__pass" pattern="asdfasdf">
		<input type="submit" class="button__reg__submit" >
	</div>
	<div class="empty"></div>
</form>


{% include 'part/footer.html' %}