.cabinet__wrapper {
    font-family: Comic Sans MS, Comic Sans, cursive;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.computer__schema {
    display: grid;

    grid-template: 1fr 30px / 100px 100px;
}

.computer__image {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.power__cabinet {
    height: 50px;
    width: 1150px;
}
.saveChanges {
    display: inline-block;
    border: 1px solid rgb(1, 119, 182);
    width: 150px;
    padding-left: 24px;
    height: 30px;
    background-color: rgb(88, 88, 199);

    
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.droppingChanges {
    padding-left: 24px;
    margin-left: 10px;      
    width: 100px;
    height: 30px;
    display: inline-block;
    border: 1px solid black;
    background-color: red;

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.power__place {
    position: relative;
    height: 95%;
    width: 100%;
    text-align: center;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #67e329;
    border:2px solid green;
}

.test__power {
    left: 40%;
    top: -5px;
    position: absolute;
    z-index: 3;
}

.remaindPower {
    position: relative;
    z-index: 2;
    height: 92%;
    background-color: green;
}



.wrapper__user__computer__power {
    display: flex;
    height: 600px;
    justify-content: flex-start;
    flex-direction: column;
}
.wrapper__user__computer {
    display: flex;
    justify-content: space-around;
    height: 85%;
}
.wrapper__user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.name__battery {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: green;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #4f4f4f;
}
.info__user {
    background-color: #e2e2e2;
    border-radius: 20px;
    border: 5px solid green;
    align-self: center;
    height: 420px;
    width: 250px;
    font-size: 14px;
    display: flex;
}
.user__computer {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.user__bug {
    margin-top: 20px;
    height: auto;
    text-align: center;
    font-size: 20px;
}
.user__logo img {
    padding-top: 15px;
    border-radius: 100px;
    width: 120px;
    height: 120px;
}
.wrapper__user__info {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
}
.user__items {
}
.user__data{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.user__login{
    background-color: #3e5243;
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
    border-bottom: 1px solid green;

    grid-column-start: 1;
    grid-column-end: 3;

}
.user__firstname{
    padding-top: 20px;
    text-align: center;
}
.user__second__name{
    padding-top: 20px;
    text-align: center;
}
.computer__schema {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.computer__schema img{
    width: 350px;
    height: 300px;
}
.computer__data{
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-size: 16px;
    width: 750px;
    height: 380px;
    background-color: #4f4f4f;
    border: 3px solid black;
    border-radius: 10px;
    overflow-y: scroll;

}
.computer__data::-webkit-scrollbar{
    width: 10px;
    background-color: #4f4f4f;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    max-height: 100px;
}
.computer__data::-webkit-scrollbar-thumb{
     background-color: green;
    border-radius: 50px;
 }

.computer__slot__wrapper {
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border-radius: 20px;
    width: 32%;
    height: 90%;
    background-color: rgba(255,239,252,0.53);
}
.computer__slot {
    align-self: center;
}
.computer__items {
    color: white;
    max-height: 500px;
    height: 430px;
    width: 65%;
}
.computer__data__name{
    height: auto;
}
.computer__data__item{
    background-color: #858585;
    height: auto;
    width: 100%;
    color: black;

    border: 2px solid white;
    padding-top: 5px;
}

.correct {
    color: green;
}
.incorrect {
    color: red;
}

.bug__wrapper{
    border: 1px solid black;
    background-color: #102e00;
    color: #a1a1a1;
    display: grid;
    grid-template-rows: 30px 1fr;
}
.bug__wrapper span {
    background-color: #404040;
}

.bug__item{
    color: black;
    display: grid;
    border: 2px solid black;
    overflow: hidden;
    height: 65px;
    grid-template: 30px 40px / 40px 1fr 40px;
}

.bug_title {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 25px;
}

.bag_inner {
    height: auto;
    overflow: hidden;
}
.closed {
    height: 0;
}


.button__item{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-top: 15px;
    cursor: pointer;
    color: thistle;
    background-color: green;
    border: 2px solid white;
}

.bug__item__name{
    border: 1px solid black;
    background-color: #404040;
}
.bug__item__disc {
    background-color: #808080 ;
    
    grid-row-start: 2;
    grid-row-end: 3;
}

.enable {
    background-color: red;
    border: 1px solid black;
}

.button__item:hover {
    text-shadow: 0px 5px 5px yellow;
}

.erase_item{
    cursor: pointer;
    padding-top: 15px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;

    border-left: 2px solid black;
    background-color: red;
    color: yellow;
}

.erase_item:hover {
    color: black;
}

.deleteCant {
    background-color: #7d7d7d;
    color: white;
}

.disable {
    background-color: #7d7d7d;
}




.disabled {
    background-color: rgb(85, 85, 85);
}
